.contents {
  width: 100%;
  height: 900px;
  display: flex;
  margin-right: 70px;
  margin-left: 250px;
}

.contents__banner {
  position: absolute;
  margin-left: 160px;
}

.contents__banner__texts {
  position: relative;
  top: 110px;
  margin: 0;
  z-index: 1;
}

p {
  position: relative;
  left: 8px;
  font-size: 40px;
}

h1 {
  font-size: 150px;
}

.banner__img {
  position: relative;
  height: 100%;
  width: 700px;
  left: 130px;
  top: -30px;
}
